In [3]:
!pip install pyforest
!pip install pandas
import pandas as pd

Requirement already satisfied: pyforest in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.1.0)
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.15.4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [4]:
pip install certifi --upgrade

Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [5]:
train = pd.read_csv("https://raw.githubusercontent.com/wildandr/https---github.com-wildandr-SipalingDatav2/main/train.csv?token=GHSAT0AAAAAACHEG2SQHMNA5Z3C5L36DPS4ZHV4HZA")
test = pd.read_csv("https://raw.githubusercontent.com/wildandr/https---github.com-wildandr-SipalingDatav2/main/test.csv?token=GHSAT0AAAAAACHEG2SRIV4LVMXIDUIHMWGAZHV4EVQ")

In [6]:
train

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75 Celcius,NaN,23.89 C,25.76 C,24.28,25.22°C,1012,undetermined,NaN,95,0.82,320.0 °,zero,0,NaN,NaN,100
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58 C,NaN,23.73 C,25.57 C,23.99 C,25.26 C,1012,NaN,NaN,95,0.96 m/s,338.0°,0,0,0,0,100
2,284004000,1979-01-01 02:00:00+00:00,28800,26.6 Celcius,unidentified,24.06 C,26.6 C,26.1 C,27.39,1012,NaN,undetermined,86,1.22 m/s,339.0°,0,volume:zero,NaN,NaN,99
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31 Celcius,NaN,24.37 C,30.9 C,26.59,28.36 C,1012,NaN,undetermined,84,1.08 m/s,342,0.13,nol,0,NaN,94
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05 C,31.54 C,26.58 C,28.31 °C,1011,NaN,undetermined,87,0.86,336.0°,0.34,nol,NaN,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,1514746800,2017-12-31 19:00:00+00:00,28800,25.06 Celcius,NaN,24.55,131.53 C,24.44 C,25.69,1007,undetermined,NaN,97,0.9,13,0,0,0,0,99
341876,1514750400,2017-12-31 20:00:00+00:00,28800,24.51°C,NaN,24.17°C,25.58,23.89 C,25.13,1006,undetermined,undetermined,98,0.85 m/s,21.0°,,NaN,NaN,0,100
341877,1514754000,2017-12-31 21:00:00+00:00,28800,24.63 C,NaN,24.29,129.32,24,126.96 C,1007.0 hPa,NaN,undetermined,98,1.54 m/s,26.0 °,0,NaN,0,no_snow,97
341878,1514757600,2017-12-31 22:00:00+00:00,28800,26.68,NaN,24.71,29.76,25.02 C,27.25 °C,1008,undetermined,NaN,89.00%,1.46m/s,17,0.3 mm,0,0,volume:0,98
341879,1514761200,2017-12-31 23:00:00+00:00,28800,26.49 C,NaN,24.9,26.49,26.02,27.09 °C,1008,undetermined,not recorded,91,1.56,6.0°,0.19,no-rain,0,NaN,99

In [7]:
train.describe()

           datetime  time-zone
count  3.418800e+05   341880.0
mean   8.993790e+08    28800.0
std    3.552926e+08        0.0
min    2.839968e+08    28800.0
25%    5.916879e+08    28800.0
50%    8.993790e+08    28800.0
75%    1.207070e+09    28800.0
max    1.514761e+09    28800.0

In [2]:
# from pandas_profiling import ProfileReport

# profile = ProfileReport(train, explorative=True)

# profile.to_file("/content/drive/MyDrive/SipalingDatav2/output.html")

In [12]:
import pandas as pd

# Membaca dataset dari file CSV
df = pd.read_csv("https://raw.githubusercontent.com/wildandr/https---github.com-wildandr-SipalingDatav2/main/train.csv?token=GHSAT0AAAAAACHEG2SQHMNA5Z3C5L36DPS4ZHV4HZA")

# Menghapus kolom "time-zone"
df.drop("time-zone", axis=1, inplace=True)

# Menyimpan dataset yang telah dimodifikasi (jika diperlukan)
df.to_csv("train_modified.csv", index=False)

In [13]:
df

,datetime,datetime_iso,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds
0,283996800,1979-01-01 00:00:00+00:00,24.75 Celcius,NaN,23.89 C,25.76 C,24.28,25.22°C,1012,undetermined,NaN,95,0.82,320.0 °,zero,0,NaN,NaN,100
1,284000400,1979-01-01 01:00:00+00:00,24.58 C,NaN,23.73 C,25.57 C,23.99 C,25.26 C,1012,NaN,NaN,95,0.96 m/s,338.0°,0,0,0,0,100
2,284004000,1979-01-01 02:00:00+00:00,26.6 Celcius,unidentified,24.06 C,26.6 C,26.1 C,27.39,1012,NaN,undetermined,86,1.22 m/s,339.0°,0,volume:zero,NaN,NaN,99
3,284007600,1979-01-01 03:00:00+00:00,27.31 Celcius,NaN,24.37 C,30.9 C,26.59,28.36 C,1012,NaN,undetermined,84,1.08 m/s,342,0.13,nol,0,NaN,94
4,284011200,1979-01-01 04:00:00+00:00,27.41,NaN,25.05 C,31.54 C,26.58 C,28.31 °C,1011,NaN,undetermined,87,0.86,336.0°,0.34,nol,NaN,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,1514746800,2017-12-31 19:00:00+00:00,25.06 Celcius,NaN,24.55,131.53 C,24.44 C,25.69,1007,undetermined,NaN,97,0.9,13,0,0,0,0,99
341876,1514750400,2017-12-31 20:00:00+00:00,24.51°C,NaN,24.17°C,25.58,23.89 C,25.13,1006,undetermined,undetermined,98,0.85 m/s,21.0°,,NaN,NaN,0,100
341877,1514754000,2017-12-31 21:00:00+00:00,24.63 C,NaN,24.29,129.32,24,126.96 C,1007.0 hPa,NaN,undetermined,98,1.54 m/s,26.0 °,0,NaN,0,no_snow,97
341878,1514757600,2017-12-31 22:00:00+00:00,26.68,NaN,24.71,29.76,25.02 C,27.25 °C,1008,undetermined,NaN,89.00%,1.46m/s,17,0.3 mm,0,0,volume:0,98
341879,1514761200,2017-12-31 23:00:00+00:00,26.49 C,NaN,24.9,26.49,26.02,27.09 °C,1008,undetermined,not recorded,91,1.56,6.0°,0.19,no-rain,0,NaN,99

In [ ]:
# !pip install autoviz

# from autoviz.AutoViz_Class import AutoViz_Class

# AV = AutoViz_Class()

In [ ]:
# from autoviz import AutoViz_Class
# AV = AutoViz_Class()

# filename = "/content/drive/MyDrive/SipalingDatav2/train.csv"
# target_variable = "rain_1h"

# dft = AV.AutoViz(
#     filename,
#     sep=",",
#     depVar=target_variable,
#     dfte=None,
#     header=0,
#     verbose=1,
#     lowess=False,
#     chart_format="svg",
#     max_rows_analyzed=350000,
#     max_cols_analyzed=30,
#     save_plot_dir=None
# )

In [ ]:
# Membaca dataset dari file CSV
# df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# # Membersihkan kolom 'temp' dari karakter non-numerik menggunakan ekspresi reguler
# df['temp'] = df['temp'].apply(lambda x: re.sub(r'[^0-9.]', '', x))

# # Mengonversi kolom 'temp' menjadi format yang diinginkan (2 angka desimal)
# df['temp'] = df['temp'].apply(lambda x: f'{float(x):.2f}')

In [14]:
import pandas as pd
import re

# Membaca dataset dari file CSV
df = pd.read_csv("https://raw.githubusercontent.com/wildandr/https---github.com-wildandr-SipalingDatav2/main/train.csv?token=GHSAT0AAAAAACHEG2SQHMNA5Z3C5L36DPS4ZHV4HZA")

In [19]:
# Daftar kolom yang perlu diubah formatnya
kolom_konversi = ["temp", "d_point", "feels", "min_temp", "max_temp"]

# Loop melalui kolom-kolom tersebut
for kolom in kolom_konversi:
    # Membersihkan kolom dari karakter non-numerik menggunakan ekspresi reguler
    df[kolom] = df[kolom].apply(lambda x: re.sub(r'[^0-9.]', '', x))

    # Mengonversi kolom ke format yang diinginkan (2 angka desimal)
    df[kolom] = df[kolom].apply(lambda x: f'{float(x):.2f}')

In [16]:
df

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,sea_level,grnd_level,hum,wind_spd,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75,NaN,23.89,25.76,24.28,25.22,1012,undetermined,NaN,95,0.82,320.0 °,zero,0,NaN,NaN,100
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58,NaN,23.73,25.57,23.99,25.26,1012,NaN,NaN,95,0.96 m/s,338.0°,0,0,0,0,100
2,284004000,1979-01-01 02:00:00+00:00,28800,26.60,unidentified,24.06,26.60,26.10,27.39,1012,NaN,undetermined,86,1.22 m/s,339.0°,0,volume:zero,NaN,NaN,99
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31,NaN,24.37,30.90,26.59,28.36,1012,NaN,undetermined,84,1.08 m/s,342,0.13,nol,0,NaN,94
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05,31.54,26.58,28.31,1011,NaN,undetermined,87,0.86,336.0°,0.34,nol,NaN,0,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341875,1514746800,2017-12-31 19:00:00+00:00,28800,25.06,NaN,24.55,131.53,24.44,25.69,1007,undetermined,NaN,97,0.9,13,0,0,0,0,99
341876,1514750400,2017-12-31 20:00:00+00:00,28800,24.51,NaN,24.17,25.58,23.89,25.13,1006,undetermined,undetermined,98,0.85 m/s,21.0°,,NaN,NaN,0,100
341877,1514754000,2017-12-31 21:00:00+00:00,28800,24.63,NaN,24.29,129.32,24.00,126.96,1007.0 hPa,NaN,undetermined,98,1.54 m/s,26.0 °,0,NaN,0,no_snow,97
341878,1514757600,2017-12-31 22:00:00+00:00,28800,26.68,NaN,24.71,29.76,25.02,27.25,1008,undetermined,NaN,89.00%,1.46m/s,17,0.3 mm,0,0,volume:0,98
341879,1514761200,2017-12-31 23:00:00+00:00,28800,26.49,NaN,24.90,26.49,26.02,27.09,1008,undetermined,not recorded,91,1.56,6.0°,0.19,no-rain,0,NaN,99

In [ ]:
# from pandas_profiling import ProfileReport

# profile = ProfileReport(df, explorative=True)

# profile.to_file("/content/drive/MyDrive/SipalingDatav2/output.html")

In [20]:
# Lakukan pengecekan jika masih ada kesalahan format pada kolom

# df = pd.read_csv("https://raw.githubusercontent.com/wildandr/https---github.com-wildandr-SipalingDatav2/main/train.csv?token=GHSAT0AAAAAACHEG2SQHMNA5Z3C5L36DPS4ZHV4HZA")

# Daftar kolom yang perlu diperiksa
kolom_periksa = ["temp", "d_point", "feels", "min_temp", "max_temp"]

# Loop melalui kolom-kolom tersebut
for kolom in kolom_periksa:
    try:
        # Mencoba mengonversi nilai-nilai dalam kolom ke tipe data float
        df[kolom] = pd.to_numeric(df[kolom], errors='raise', downcast='float')
    except ValueError as e:
        print(f"Kesalahan pada kolom '{kolom}': {e}")

Mengubah Format Kolom Preassure

In [24]:
df['prssr'] = df['prssr'].apply(lambda x: re.sub(r'[^0-9]', '', str(x))[:4] if re.match(r'\d{4}', str(x)) else np.nan)

Mengubah Format Kolom Hum

In [33]:
def convert_humidity(value):
    if pd.notnull(value):
        # Cek apakah nilai mengandung persen (%)
        if '%' in str(value):
            # Hapus karakter '%' dan konversi menjadi float
            return float(str(value).replace('%', '').replace(',', '.')) / 100.0
        else:
            # Konversi nilai menjadi float
            return float(str(value).replace(',', '.'))
    else:
        return value

# Terapkan fungsi konversi ke kolom "hum"
df['hum'] = df['hum'].apply(convert_humidity)

Membersihkan wind_spd

In [46]:
# Membersihkan kolom 'wind_spd' dari karakter non-numerik dan mengonversi ke float
df['wind_spd'] = df['wind_spd'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

Membersihkan wind_deg

In [48]:
# Membersihkan kolom 'wind_deg' dari karakter non-numerik dan mengonversi ke float
df['wind_deg'] = df['wind_deg'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

Membersihkan cloud

In [53]:
# Membersihkan kolom 'clouds' dari karakter '%' dan mengonversi ke float
df['clouds'] = df['clouds'].str.replace('%', '', regex=False).astype(float)

In [54]:
import pandas as pd
import re
import numpy as np

# Daftar kolom yang perlu diubah formatnya
kolom_konversi = ["temp", "d_point", "feels", "min_temp", "max_temp", "prssr"]

# Loop melalui kolom-kolom tersebut
for kolom in kolom_konversi:
    # Membersihkan kolom dari karakter non-numerik menggunakan ekspresi reguler
    df[kolom] = df[kolom].apply(lambda x: re.sub(r'[^0-9.]', '', str(x)))

    # Mengganti nilai non-numerik dengan NaN
    df[kolom] = df[kolom].replace('', np.nan, regex=True)

    # Mengonversi kolom ke format yang diinginkan (2 angka desimal)
    df[kolom] = df[kolom].apply(lambda x: f'{float(x):.2f}' if pd.notnull(x) else x)

# Mengubah format kolom "prssr" menjadi 4 angka paling depan saja
df['prssr'] = df['prssr'].apply(lambda x: re.sub(r'[^0-9]', '', str(x))[:4])

# Menampilkan beberapa baris pertama dari dataframe yang telah dimodifikasi
print(df.head())

    datetime               datetime_iso  time-zone   temp d_point  feels  \
0  283996800  1979-01-01 00:00:00+00:00      28800  24.75   23.89  25.76
1  284000400  1979-01-01 01:00:00+00:00      28800  24.58   23.73  25.57
2  284004000  1979-01-01 02:00:00+00:00      28800  26.60   24.06  26.60
3  284007600  1979-01-01 03:00:00+00:00      28800  27.31   24.37  30.90
4  284011200  1979-01-01 04:00:00+00:00      28800  27.41   25.05  31.54

  min_temp max_temp prssr   hum  wind_spd  wind_deg rain_1h  clouds  \
0    24.28    25.22  1012  95.0      0.82     320.0    zero   100.0
1    23.99    25.26  1012  95.0      0.96     338.0       0   100.0
2    26.10    27.39  1012  86.0      1.22     339.0       0    99.0
3    26.59    28.36  1012  84.0      1.08     342.0    0.13    94.0
4    26.58    28.31  1011  87.0      0.86     336.0    0.34   100.0

      sea_level    grnd_level      rain_3h snow_1h snow_3h    visibility
0  undetermined           NaN            0     NaN     NaN           NaN
1           NaN           NaN            0       0       0           NaN
2           NaN  undetermined  volume:zero     NaN     NaN  unidentified
3           NaN  undetermined          nol       0     NaN           NaN
4           NaN  undetermined          nol     NaN       0           NaN

In [56]:
# Daftar kolom yang ingin dipindahkan ke urutan paling akhir
kolom_pindah_ke_belakang = ["sea_level", "grnd_level", "rain_3h", "snow_1h", "snow_3h", "visibility", "rain_1h"]

# Menggunakan metode reorder_columns untuk memindahkan kolom-kolom tersebut
df = df[[kolom for kolom in df.columns if kolom not in kolom_pindah_ke_belakang] + kolom_pindah_ke_belakang]

In [ ]:
# !pip install autoviz

# from autoviz.AutoViz_Class import AutoViz_Class

# AV = AutoViz_Class()

In [ ]:
# from autoviz import AutoViz_Class
# AV = AutoViz_Class()

# filename = "/content/drive/MyDrive/SipalingDatav2/train.csv"
# target_variable = "rain_1h"

# dft = AV.AutoViz(
#     filename,
#     sep=",",
#     depVar=target_variable,
#     dfte=None,
#     header=0,
#     verbose=1,
#     lowess=False,
#     chart_format="svg",
#     max_rows_analyzed=350000,
#     max_cols_analyzed=30,
#     save_plot_dir=None
# )

In [35]:
pip install sweetviz

Collecting sweetviz
  Obtaining dependency information for sweetviz from https://files.pythonhosted.org/packages/7b/d7/b83a6a5548f6fd028c18e198f116e0be641c0db72cc12b0d6ddb836d0fa4/sweetviz-2.2.1-py3-none-any.whl.metadata
  Downloading sweetviz-2.2.1-py3-none-any.whl.metadata (23 kB)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (1.1.5)
Requirement already satisfied: numpy>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (1.21.6)
Requirement already satisfied: matplotlib>=3.1.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (3.5.3)
Requirement already satisfied: tqdm>=4.43.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (4.66.1)
Requirement already satisfied: scipy>=1.3.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (1.7.3)
Requirement already satisfied: jinja2>=2.11.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (3.1.2)
Requirement already satisfied: importlib-resources>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (5.12.0)
Requirement already satisfied: importlib-metadata in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from sweetviz) (6.7.0)
Requirement already satisfied: zipp>=3.1.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from importlib-resources>=1.2.0->sweetviz) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from jinja2>=2.11.1->sweetviz) (2.1.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (9.5.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2023.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from importlib-metadata->sweetviz) (4.7.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Downloading sweetviz-2.2.1-py3-none-any.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 4.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: sweetviz
Successfully installed sweetviz-2.2.1
Note: you may need to restart the kernel to use updated packages.

In [58]:
# Separating X and y
X = df.drop('rain_1h', axis=1)
y = df['rain_1h']

In [59]:
y

0           zero
1              0
2              0
3           0.13
4           0.34
           ...
341875         0
341876
341877         0
341878    0.3 mm
341879      0.19
Name: rain_1h, Length: 341880, dtype: object

In [60]:
import sweetviz as sv
analyze_report = sv.analyze(df)
analyze_report.show_html('analyze.html', open_browser=False)

                                             |          | [  0%]   00:00 -> (? left)

Report analyze.html was generated.

In [44]:
# JANGAN GUNAKAN DI VSCODE

# import IPython
# IPython.display.HTML('analyze.html')

IPython.display.clear_output()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Membaca dataset dari file CSV
# df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Daftar kolom yang ingin Anda buat boxplot-nya
kolom_boxplot = ["temp", "visibility", "d_point", "feels", "min_temp", "max_temp", "prssr", "sea_level",
                 "grnd_level", "hum", "wind_spd", "wind_deg", "rain_1h", "rain_3h", "snow_1h", "snow_3h", "clouds"]

# Mengonversi kolom-kolom yang perlu diperbaiki
for kolom in kolom_boxplot:
    df[kolom] = df[kolom].apply(lambda x: re.sub(r'[^0-9.]', '', str(x)))  # Menghapus karakter non-numerik
    df[kolom] = pd.to_numeric(df[kolom], errors='coerce')  # Mengonversi ke tipe data numerik, mengabaikan kesalahan

# Mengatur jumlah kolom dan baris untuk subplot
num_cols = 3
num_rows = (len(kolom_boxplot) + num_cols - 1) // num_cols

# Membuat subplot dengan 3 kolom
fig, axes = plt.subplots(num_rows, num_cols, figsize=(15, 20))

# Membuat boxplot untuk setiap kolom
for i, kolom in enumerate(kolom_boxplot):
    row = i // num_cols
    col = i % num_cols
    ax = axes[row, col]

    sns.boxplot(x=df[kolom], ax=ax)  # Membuat boxplot menggunakan Seaborn
    ax.set_title(f'Box Plot {kolom}')
    ax.set_xlabel(kolom)

# Menghapus subplot yang tidak digunakan
for i in range(len(kolom_boxplot), num_rows * num_cols):
    fig.delaxes(axes[i // num_cols, i % num_cols])

plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd

# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Daftar kolom yang ingin Anda periksa untuk outlier
kolom_outlier = ["temp", "visibility", "d_point", "feels", "min_temp", "max_temp", "prssr", "sea_level",
                 "grnd_level", "hum", "wind_spd", "wind_deg", "rain_1h", "rain_3h", "snow_1h", "snow_3h", "clouds"]

# Menghitung Q1 (kuartil pertama)
Q1 = df[kolom_outlier].quantile(0.25)

# Menghitung Q3 (kuartil ketiga)
Q3 = df[kolom_outlier].quantile(0.75)

# Menghitung IQR (Interquartile Range)
IQR = Q3 - Q1

# Menentukan batas atas (Upper Bound) dan batas bawah (Lower Bound)
Upper_Bound = Q3 + (1.5 * IQR)
Lower_Bound = Q1 - (1.5 * IQR)

# Mendeteksi outlier
outliers = ((df[kolom_outlier] < Lower_Bound) | (df[kolom_outlier] > Upper_Bound)).any(axis=1)

# Menampilkan outlier dalam dataset
outlier_data = df[outliers]

# Menampilkan outlier
print("Outlier Data:")
print(outlier_data)

In [ ]:
import pandas as pd

# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Daftar kolom yang ingin Anda hitung korelasinya
kolom_korelasi = ["temp", "visibility", "d_point", "feels", "min_temp", "max_temp", "prssr", "sea_level",
                 "grnd_level", "hum", "wind_spd", "wind_deg", "rain_1h", "rain_3h", "snow_1h", "snow_3h", "clouds"]

# Memfilter kolom-kolom yang memiliki tipe data numerik
kolom_numerik = df[kolom_korelasi].select_dtypes(include=['number'])

# Menghitung matriks korelasi
matriks_korelasi = kolom_numerik.corr()

# Menampilkan matriks korelasi
print("Matriks Korelasi:")
print(matriks_korelasi)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Mengonversi kolom datetime menjadi tipe data datetime
df['datetime'] = pd.to_datetime(df['datetime_iso'])

# Mengatur kolom datetime sebagai indeks
df.set_index('datetime', inplace=True)

# Memilih kolom yang ingin Anda visualisasikan (misalnya, 'temp')
kolom_visualisasi = 'temp'

# Membuat plot time series
plt.figure(figsize=(12, 6))
plt.plot(df.index, df[kolom_visualisasi], label=kolom_visualisasi)
plt.title(f'Time Series Plot of {kolom_visualisasi}')
plt.xlabel('Date')
plt.ylabel(kolom_visualisasi)
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Mengatur kolom 'datetime' sebagai indeks dengan format datetime
df['datetime'] = pd.to_datetime(df['datetime'], unit='s')
df.set_index('datetime', inplace=True)

# Daftar kolom yang ingin diplot
kolom_to_plot = ["temp", "d_point", "feels", "min_temp", "max_temp"]

# Jumlah kolom per baris dalam output visualisasi
kolom_per_baris = 3

# Menghitung jumlah baris yang diperlukan
jumlah_baris = len(kolom_to_plot) // kolom_per_baris
if len(kolom_to_plot) % kolom_per_baris != 0:
    jumlah_baris += 1

# Mengatur ukuran plot
plt.figure(figsize=(15, 5 * jumlah_baris))

# Membuat visualisasi time series dengan model garis
for i, kolom in enumerate(kolom_to_plot):
    plt.subplot(jumlah_baris, kolom_per_baris, i + 1)
    plt.plot(df.index, df[kolom])
    plt.title(kolom)
    plt.xlabel('Waktu')
    plt.ylabel('Nilai')

# Menampilkan visualisasi
plt.tight_layout()
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Membaca dataset dari file CSV
df = pd.read_csv("/content/drive/MyDrive/SipalingDatav2/train.csv")

# Mengatur kolom 'datetime' sebagai indeks dengan format datetime
df['datetime'] = pd.to_datetime(df['datetime'], unit='s')
df.set_index('datetime', inplace=True)

# Daftar kolom yang ingin diplot
kolom_to_plot = ["temp", "d_point", "feels", "min_temp", "max_temp"]

# Jumlah kolom per baris dalam output visualisasi
kolom_per_baris = 3

# Menghitung jumlah baris yang diperlukan
jumlah_baris = len(kolom_to_plot) // kolom_per_baris
if len(kolom_to_plot) % kolom_per_baris != 0:
    jumlah_baris += 1

# Mengatur ukuran plot
plt.figure(figsize=(15, 5 * jumlah_baris))

# Membuat visualisasi time series dengan model garis
for i, kolom in enumerate(kolom_to_plot):
    plt.subplot(jumlah_baris, kolom_per_baris, i + 1)
    plt.plot(df.index, df[kolom])
    plt.title(kolom)
    plt.xlabel('Waktu')
    plt.ylabel('Nilai')

# Menampilkan visualisasi
plt.tight_layout()
plt.show()

In [57]:
df.to_csv("train_modified.csv", index=False)